body {
text-align:center;
margin-top:150px;	
}
input {
	font-size: 16px;
	padding: 10px;
	width: 600px;
}
.button {
	margin:3px;
	width:150px;
	height:30px;
	opacity:0.6;
	}
.button:hover {
	opacity:1.0;
}
ul {
	list-style-type:none;
	margin:0;
	padding:0;
	}
.top {
	position:fixed;
	top:0;
	width:100%;
	}	
.topbar {
	padding:10px;
	float:right;	
	}
.bottombar {
	position:fixed;
	bottom:0;
	width:100%;
	background-color:#F2F2F2;
}
.left {
	padding:10px;
	float:left;
}
.right {
	padding:10px;
	float:right;
}
a {
	color:#737373;
}
}